<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Start</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="guidance.html" class="dropdown-toggle">Hinweise
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="guidance.html">Hinweise</a>
      </li>
      <li>
        <a href="researcher-guidance.html">Orientierungshilfe für Forschende</a>
      </li>
      <li>
        <a href="implementer-guidance.html">Anleitung für Implementierende</a>
      </li>
      <li>
        <a href="datasets-and-descriptions.html">Datensätze und Beschreibungen</a>
      </li>
      <li>
        <a href="uml-diagrams.html">UML-Diagramme</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="conformance.html" class="dropdown-toggle">Konformität
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="conformance.html">Konformität</a>
      </li>
      <li>
        <a href="general-requirements.html">Allgemeine Anforderungen</a>
      </li>
      <li>
        <a href="must-support.html">Must Support</a>
      </li>
      <li>
        <a href="missing-data.html">Umgang mit fehlenden Daten</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="artifacts.html" class="dropdown-toggle">Artefakte
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="artifacts.html">Artefaktübersicht</a>
      </li>
      <li>
        <a href="profiles-and-extensions.html">Profile und Extensions</a>
      </li>
      <li>
        <a href="terminology.html">Terminologie</a>
      </li>
      <li>
        <a href="capability-statements.html">Capability Statements</a>
      </li>
      <li>
        <a href="search-parameters-and-operations.html">Suchparameter und Operationen</a>
      </li>
      <li>
        <a href="logical-models.html">Logische Modelle</a>
      </li>
      <li>
        <a href="examples.html">Beispiele</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="downloads.html">Downloads</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="version-history.html" class="dropdown-toggle">Versionierung
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="version-history.html">Versionierung</a>
      </li>
      <li>
        <a href="changes.html">Changelog</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="metadata.html" class="dropdown-toggle">Metadaten
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="metadata.html">Metadatenübersicht</a>
      </li>
    </ul>
  </li>
</ul>
