<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="guidance.html" class="dropdown-toggle">Guidance
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="guidance.html">Guidance</a>
      </li>
      <li>
        <a href="researcher-guidance.html">Guidance for Researchers</a>
      </li>
      <li>
        <a href="implementer-guidance.html">Guidance for Implementers</a>
      </li>
      <li>
        <a href="datasets-and-descriptions.html">Datasets and Descriptions</a>
      </li>
      <li>
        <a href="uml-diagrams.html">UML Diagrams</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="conformance.html" class="dropdown-toggle">Conformance
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="conformance.html">Conformance</a>
      </li>
      <li>
        <a href="general-requirements.html">General Requirements</a>
      </li>
      <li>
        <a href="must-support.html">Must Support</a>
      </li>
      <li>
        <a href="missing-data.html">Handling Missing Data</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="artifacts.html" class="dropdown-toggle">Artifacts
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="artifacts.html">Artifacts Summary</a>
      </li>
      <li>
        <a href="profiles-and-extensions.html">Profiles and Extensions</a>
      </li>
      <li>
        <a href="terminology.html">Terminology</a>
      </li>
      <li>
        <a href="capability-statements.html">Capability Statements</a>
      </li>
      <li>
        <a href="search-parameters-and-operations.html">Search Parameters and Operations</a>
      </li>
      <li>
        <a href="logical-models.html">Logical Models</a>
      </li>
      <li>
        <a href="examples.html">Examples</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="downloads.html">Downloads</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="version-history.html" class="dropdown-toggle">Versioning
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="version-history.html">Versioning</a>
      </li>
      <li>
        <a href="changes.html">Changelog</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="metadata.html" class="dropdown-toggle">Metadata
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="metadata.html">Metadata Overview</a>
      </li>
    </ul>
  </li>
</ul>
